{% extends 'index.html' %}
{% block content %}
    <div class ="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form=group">
                <legend>Выбор объекта</legend>
                <div>
                    Выберите номер объекта из тестовой выборки. Введите число от 1 до {{ range_limit }}.
                </div>
                <div class="form-group">
                    {{ form.tumor_number.label(class="form-control-label") }}
                    {{ form.tumor_number(class="form-control", style='margin:10px') }}
                </div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor%}
                    {% endif%}
                {% endwith %}
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}